/* Kode for slider funnet her: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

span {
    font-family: "Symbol", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}
span.lowVolume::before {
    content: ' ';
    display: inline-block;
    background: url("symbols/1F508.png");
    background-size: contain;
    height: 20px;
    width: 20px;
}
span.maxVolume::before {
    content: ' ';
    display: inline-block;
    background: url("symbols/1F50A.png");
    background-size: contain;
    height: 20px;
    width: 20px;
}

.play::before {
    content: ' ';
    display: inline-block;
    background:  url("symbols/23F8.png");
    background-size: contain;
    height: 20px;
    width: 20px;
}

.pause::before {
    content: ' ';
    display: inline-block;
    background: url("symbols/23F5.png");
    background-size: contain;
    height: 20px;
    width: 20px;
}