.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

span {
    font-family: "Segoe UI Symbol";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
span.lowVolume::before {
    content: "\1F508\FE0E";
}
span.maxVolume::before {
    content: "\1F50A\FE0E";
}

.play::before {
    content:  "\23F8\FE0E";
}

.pause::before {
    content: "\23F5\FE0E";
}