.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.canvas {
}


.poetry {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px 40px 10px;
    box-sizing: border-box;
    background-color: #a1a1a1;
}

/* All screens with landscape orientation */
@media only screen and (orientation: landscape) {
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 40px;
        grid-template-areas:
      'svg poem'
      'svg audio';
    }

}