.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 20px;
}

.grid-container > div {
    margin: 10px;
    vertical-align: center;
    align-content: center;
    justify-content: center;
}

.canvas {
    background-color: grey;
    border-radius: 15px;
    padding: 5px;
    max-width: 510px;

}

.grid-poetry {
    box-sizing: border-box;
    background-color: #a1a1a1;
    border-radius: 15px;
    max-height: 520px;
    max-width: 80vw;
    padding: 10px;
}



@media only screen and (max-width: 535px) {
    .grid-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .canvas {
        max-width: 80vw;
        margin: 20px 0 20px;
        background-color: grey;
        border-radius: 15px;
        padding: 5px;

    }

    .grid-poetry {
        max-width: 80vw;
        box-sizing: border-box;
        background-color: #a1a1a1;
        margin: 0 0 20px;
        border-radius: 15px;
    }


}