.carousel-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 60px 60px 30px;
}
.carousel-slides {
    transition: all 1s ease;
    /*sliter med å få transition siden komponenten rerenderer?*/
}
.slide-active {
    display: block;
    width: 100%;
}
.slide-hidden {
    display: none;
    width: 100%;
}
.carousel-buttons {
    display: inline-block;
    width: 90%;
}
.carousel-button {
    background-color: #0D1A2B;
    color: white;
    cursor: pointer;
    padding: 17px 35px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}
.carousel-button:hover {
    background-color: #1c375c;
}

